[run]
source = src/ekko
branch = true
omit =
    tests/*
    src/ekko/__main__.py

[report]
show_missing = true
skip_empty = true
fail_under = 0
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.
    @abstractmethod
    raise NotImplementedError
    \.\.\.

[html]
directory = htmlcov
