{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "App: entrypoint",
      "type": "debugpy",
      "request": "launch",
      "module": "uvicorn",
      "args": ["replace_me.main:create_app", "--factory", "--reload"],
      "cwd": "${workspaceFolder}",
      "justMyCode": true,
      "envFile": "${workspaceFolder}/.env",
      "env": { "PYTHONPATH": "${workspaceFolder}/src" }
    },
    {
      "name": "Python: Debug current test file",
      "type": "debugpy",
      "request": "launch",
      "module": "pytest",
      "args": ["${relativeFile}", "-v"],
      "cwd": "${workspaceFolder}",
      "justMyCode": true,
      "envFile": "${workspaceFolder}/.env",
      "env": { "PYTHONPATH": "${workspaceFolder}/src" }
    },
    {
      "name": "Python: Debug current file",
      "type": "debugpy",
      "request": "launch",
      "program": "${file}",
      "cwd": "${workspaceFolder}",
      "justMyCode": true,
      "envFile": "${workspaceFolder}/.env",
      "env": { "PYTHONPATH": "${workspaceFolder}/src" }
    },
    {
      "name": "Python: Attach to running process",
      "type": "debugpy",
      "request": "attach",
      "connect": { "host": "localhost", "port": 5678 },
      "justMyCode": true
    }
  ]
}
